// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Index

.flat-card {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);

  .photo {
    background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200');
    background-position: center;
    background-size: cover;
    height: 180px;
  }

  .flat-infos {
    background-color: #f8f9fa;

    h3 {
      font-size: 1.4em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
